@import "tailwindcss";
@keyframes fadeDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fadeDown {
    animation: fadeDown 0.3s ease-out;
  }
  